<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EdenPlace Report Template</title>
</head>

<body>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Agency FB";
        }

        body {
            background: #f6f6f6;
            color: #121212;
        }

        .report-container {
            margin: 0 auto;
            /* width: 595px;
            height: 842px; */
            width: 100%;
            padding: 10px;
            background: #fff;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        /* Report Header Section */
        .report-container>.report-header {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .report-header>.header-main {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
        }

        .header-main>.school-logo {
            flex-basis: 22%;
            height: 100px;
            /* background: #f5f5f5; */
            position: relative;
        }

        .school-logo>img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }

        .header-main>.school-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 4px;
            flex-basis: 60%;
            text-align: center;
            width: max-content;
        }

        .header-main p,
        .header-main b {
            font-size: 14px;
            line-height: 1.6;
        }

        .header-main small {
            font-size: 12px;
        }

        .report-header>.header-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;
        }

        .header-info>.term-details {
            width: 100%;
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
        }

        .header-info b {
            font-size: 14px;
            line-height: 1.6;
        }

        .header-info p {
            font-size: 13px;
            line-height: 1.6;
        }


        /* Report Body Section */
        .report-container>.report-body {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-block: 2px;
        }

        /* Tables */
        .report-body>.report-tables {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .report-tables>.main-tables {
            display: flex;
            flex-wrap: nowrap;
        }

        .main-tables>.subjects-scores-table {
            min-width: 65%;
            border-right: none !important;
        }

        .report-tables table {
            width: 100%;
            border: 1px #888 solid;
            border-collapse: collapse;
            text-align: left;
        }

        .report-tables table td,
        .report-tables table th {
            border: 1px #888 solid;
            border-collapse: collapse;
            padding: 3px;
            font-size: 12.5px;
            line-height: 1.6;
            min-width: 30px;
            text-transform: uppercase;
        }


        /* Summary */
        .report-body>.report-summary {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        .report-summary>.overalls {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .overalls p {
            font-size: 13px;
            line-height: 1.4;
            text-transform: uppercase;
        }

        .report-summary>.comments {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        .comments p {
            font-size: 13px;
            line-height: 1.4;
        }

        /* Report Footer Section */
        .report-container>.report-footer {
            display: flex;
            justify-content: space-between;
            padding-right: 12px;
        }
    </style>
    <main class="report-container">
        <!-- Header -->
        <section class="report-header">
            <div class="header-main">
                <div class="school-logo">
                    <img src="data:image/png;base64,/9j/4AAQSkZJRgABAQEA3ADcAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKC
                    goKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wAARCAC3ANEDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAA
                    QRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i
                    5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKR
                    obHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2
                    Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD9/KKKKACiiigAooo6UAFBIAyTWfrHiTTNFhMt3cKMepryXx7+0hGl8ND8NW815eS8RW1pGXdz2wFoA9c1PxFpGkxNJeXiLtHIJrifFX7RXg3w+r
                    KLyNio5+auG034N/G34nONR8ba+PD9lJyLaJvNuSv0+6n4k/Su68K/sz/CTwwVubjQTq1yvJudZfzyT67SNg/BaAOGuv2qdc1+U23grw5fag/IUWNk8p/8dU1Ede/ai8RndY/D69tkf7pvJ44v/HS2f0r3OBd
                    K0tUsLKO3txj93DGoXj2Arz2X9sX9mFPiBYfC2D43+HrrxBqV6LS00uy1BZ5Gm6bD5eQpzxgkc1pTo1q1/Zxbtq7K9l3dtkaQpVanwRbt5HJJ4I/apvAHmh06H2fUwSPyBqR/h/8AtSRAGObSnx2GokfzWvcb
                    q5itLd7qZsJGhZjjoAM18y/8Phf2BVdo5Pi/coyMVZX8O3oII/7ZVvhcBjsdzfVqUp235U3a/exdDC4nE39lBytvZNnSG3/ar0Rsv4UF1t/59dRiOfzIpF+PHxb8Jtt8Y/D3WLWMHDyyWLMn/fagr+tegfCX9
                    pb4HfHXwRdfET4V/EbTtW0mxDHULmGTBtMKWPmq2Gj+UE/MBwKs/Dz9oL4HfFuBX+GvxX8Pa40n3YdO1WKWT8UDbh+IrKeHxNOUoyhJOOj0ej8+wpYevBtSi1bfTb1OZ8K/tVeFNXcQ3ciI+cEE4Ir0HQ/H/h
                    vXVBtNQjyeg3VR8VfCH4a+NlJ8ReDbGaVh/wAfKQCOYfSRcMPpnFefa5+y/rWhO2ofCnx1cwMDldP1WQyRfQOo3D8Q1YmJ7RHLHKu+NwwPcGnV4FYfGD4hfDDUE0X4n6FPZZYKl0TvhlP+y44P06+1es+EviV
                    oXii2SW3ukyRn7woA6SikVlcblOQehpaACiiigAooooAKKKKACiiigAoopGZVGWOBQAMyopZjgCuO+IfxX0fwjZSPJcqCoPJNUfi58WNN8IaXLuukUqvrXEfDL4P6v8U75PiB8UoZE01m83TdHfIMw6iSUH+H
                    HRe+eeOKAM/RdF+Jn7Qd2by3upNH0Auc6jImXuB6RKev+8ePrXrvgL4VeBfhjYtB4Y0pUmdf9IvZj5k8xx1Zzz+AwPavnj9tr/gqV8F/2RjN8NfCtmniLxpGoij0W3cR21gSBtNxJwFGCMKuT/ujmvCvi/8At
                    N/8Fh/2fNAtP2gviBong7U/CEpjnu9L0S1iuILaF8FfMdD5qgg8OJHUHGT2P0GC4ZzPGU4TfLTVT4Od8vP/AIb7+ux6+GyXGYiEZO0eb4eZ25vQ9w+Pn/BW/wCAnws8ZN8JPhjouqePfGJvxp8OjaPE0Mf2wv
                    sWBppFwWL4HyK3Wov2Yv2iP2wvjX8WfGvwR/aZ+CF74KguNAWbRdQ0eNylh5iYKNdKSrSlXDAggho2GAa+dP24fDvw2/bE/Y90T/goD+z54cttC17w5fvL4kgsokiuA+9DKXZAC8kcmyRXPO1ifpzfwX/bc8X
                    eDv2dotL/AGafH3j3xv8AGjxlqcVz4isdZ0h9UisthZG8k9IwyhSCfM+XqFwMfUw4dwlTJ74Sj++5nCfPdypzTTvdWhGNk3rF3uke7DKcPPL/ANxT/eX5Zc17xknvde6la+617nBfFT4Pftd/CX9t3xP4L+FX
                    xd8S+IvE/gGyTW9EuNSv3kur+yMUTuY1YlXIWUhox94K4AOMVo/s5/tHfBzxD+378MPi5pvwysfD1/qcsmneNtIEJa3GpStIn22PeDtLO6vjgoV2jgAn0f8Aa28XfEz4d/tK+Hv22vi9+0b8H/gbc6d4XtbaO
                    Lxt4kRNSnD2xFzC1koladleWZQFH3Qh6ivlr9s7/grX/wAEEJPjjb/Gbwt8RfidrOvW88dzqtt8K/CUMdpe3sbBhcLJqDwqmWGSVDZ64znPp1OI8pVCNLGSV5UeVyp7qVmnGaVk09JR35ZdjqlnGA9lGGIkru
                    m03DdOzTUraNPRp9Hc/e4MjRgnkEdMda/IOHVPHnh3/gq18Srn4N/s9af8Qb5J7+CPwzcTw28CxmONDIfMG0hf7vGc9a8s8e/8HrH7NN5pVz4c8J/sP+Ob+0ntmt2udU8VWlpKyFdpbbHHKA2D/e618ofCn/g
                    v5/wT2+GXxL0v4n6X+wl8UbfUNM1BLuKaH4swSb2Vg2HVrMb1JHI3DPrXxnDOa4HKqeKeJu3UhypWbTd76tSi1slprrura/PZLj8LgI1va396PKlbTvrZpr5H7B/8E4v2QfiZ+x38Ovij8Z/2ndIs9Is9Y0OR
                    7jwvHPHPHHawpLLKZPLZkxtYoqgnAznrXkn/AAR0+A/wp8a6z4y/bN+L2m2unWXg/WRNol1JdGC006URvNO5AITbHHJHjcMDIIwRXgHxo/4Ojf8AgmX+3H8Pbf4U/FvT/jv8KVNyZLjUNC06wvbWdGRkaK48q
                    6EskeGztEfOOfSuj/Z6+MXwL+NvwU1b9mP9iL/gq/8AC690PxQ7ef4L8d2p0DUrmRymRG08Zd3YIq7VzwMHivcwmd0czwmKeIxKpVsRKClpJRjTjo7NXTbXdq/VnpUMzp43D1va1lCpWcU9GkorRpNX38/vP2
                    K1z4r+BoPhfd/FTS/GmkyaNDpsl1FrDXq/ZNiqcMZRkbcjBIz+dfAPwU/4Ls32masdC/aI+Fou7CS9ljsfE/hTeElVHxnyJQC4AI5VgeRlc1wHxX+D37dnjxfhx+xx8UfBNz4b+Gdp5NgmseCLY31lchQStzc
                    y+YFwANx3lQPmYKTgV598F9EHiD/goN8JfgrD8RtA8ZaF4R1SC30rUdE0z7NC9vE8lxIkqFRuk3K25uc9dzda7co4ZyWngq7xLVZ8sprlb92EVKz5o6c0nZNPbzOnA5LlsMNVdZqpo5KzfuxSdtVpd9r/AHn6
                    /wDgHxn4E+Pfwv0zxzolsb7QfEFilzapqFi0ZkiYcFo5ACPy56jIINcH4w/Z/wBc8G3TeJPgxeSBFbdLoM8uVI6nynY8f7p49x0r5d/aE/4Ka/Hzxb+0PL+yj+wB8PdP1K90yd7S61W4s/NUvFxJ5S7ljjhQ/
                    KZHyDjgDIJ6Hwr/AMFBP2l/2UfiRpvw6/4KTeDtI0/S9ctZJNI8Y+HULxB0xuSVUJBxkA7QCMqcEHNfIz4WzT2cZxUeaS5o0+ZOo4735eunTfyPBnkeN5VJJJyV1C958u97W7H0f8L/AI5R6jIdG1xZLe7gbZ
                    cW1whV42HUEHkV6tZ3lvfQie3kDKw7V5v4w+H3hH46eGrH4j+ANYhjvLqzS50nWLX/AFd1Ew3J5mOWUgjnqP0rD+F/xR1jRNZk8GeNYHtNQtW2SwSHhv8AaU/xKexr5xpp2Z4rTTsz2miorO8ivYFnhYFWGRg
                    5qWkAUUUUAFFFFABRRRQAVy/xK8b2nhPR5JpZQp29Sa6HUr2PT7KS6lOAi5zXz54pk1L45/FKH4d6fO62SnztVuE/5ZQL1HHdjhR9c9AaALfwn8E3Hxe8Rv8AE/xwn/EitJWOmWs33bqRTzI2f4FIOPU+wrxn
                    9pH9uf4z/Hb4nXX7MH/BOY219reiI134l8WPPGttbJE3METS/I259qF+QScDuw+w/Enw58MeKfANz8MtSsdujXenNYzWtvI0R8grtKhlIK8dwc1+eH7aP/BH+/8AhR4Zf4r/ALEmtarZz6dpbw63oT6m4mu4N
                    hEskUuQSzL9+M/K3OMfdP1HC1PJ6mNaxk0p7Q5lenfvOzTfktF3Z7mRxy6WJ/2h2l9nmV4X7y1Tfa2x7h47/Zs8Gftw/smadqn7Qvh3wh4Y+IfiK2iMGvaPcwTH7eissS+cp/e5G4NEGYDLAE4zXyR+z5+1p+
                    03oXwp8a/8E5D8JZviD4gMVzoehT2l2s8OnwyBoZRK/KtEmdyMWAHQkAcU/gf4X8Vf8FBvhh8Pf2aPgp8GB4NsPh/em98UePTezusNw+Azw8jM0m3dtYkggY2qM0v/AAVp/wCCz3wb/wCCUOj3n7In7B/hyw8
                    YfHrXLbdr+tJax3J0uYx4N1e+WP8ASLxhlxDjaOWcYO1vfxmJpZBRngsTFVpOblCnt7NqXuu8ZS0kvsX230dz18RWp5XTlh6y9o3K8YW+Cz913TejX2b7HefFf4gfsFf8Efv+CfU/wR/4KJ/EW21TWfFd+2uN
                    4E0KVpdRvrjESpFbqhBjjAgVTO5SPO/5ucV+Ov7XH/Byf+03470y7+FH7B3gTSP2ffATgxJH4RjVtbu4/wC9PflQ6uRj/VBWHTe3JPwR8cfi58Y/jv8AE/V/in8evGur694o1W6aXVdS1yZnnkcnod33QOgUA
                    BRwABXIohkOFr4jG5ljsdVqSrzb55OTWtrvry7eXofLYnGYrEzk6kn7zu10v6Gp4y8c+NfiL4iufF/j3xbqet6pdvuutR1a/kuJ5T6tJISx/E1knOeTXW/DbwLa6r8RvDvhzx1a3dlYaxewo0xTymaF3K70LD
                    BGc88jivQv2qv2LPGX7PdwfEmmztqvhqaXbDqCR/PAT0SUDgH0YcH26U6WVY6vg54qnC8IO0u6ut2u3mOGCxNXDSrxjeMd/K/l2PEoo2lkEaqSScACvV/i7+yV44+Dvwf0D4qeJrhAdZmKTacE+e0DLui3HPJ
                    YZyMfLjH05n4AWGkaj8a/C1hrao1tJrlssyuOGBccH8cV9cf8FSfiJoVl8ONJ+GNtcxvqF9qAu5IVYFooY1Ybj6bmbj1wa9jKspwWIyHGY6vKzp8qiv7zd/n2PQwGBwtXLMRiastYpKK82fCh96USOpBVyMdM
                    HpQF3dzStEy+ue4xXyyTseIfWH7D3/BbX/go1+wLf21r8Hf2gdU1Lw5Cw87wX4smbUdKlTugilJMORxmJkPua/Yn/gmX/wAFmv8Agkr+3p8ZvC2p/tD/AAg0v4IfGa01BJbGe2vXh0PWroAgYnUKiMSchJgCT
                    hd79/5xOnWlDMpypwa3oYnEYVt0ZuN1Z2bV0+jtv8zWlXrUG/Zyavo7PdH9XHwr0zxl/wAEo/2pfG/jX4h/BrWvFXgnxepOi+LtAtxO8ERlaVVYfwk7sMCRkopG4Yr3DTfFX7OX/BS7w23xP+PPwX8Q+FtA+G
                    +rG90jVPE0pt7W9gYK0u/orITEu9eeAuG5Ir8Rf+CGX/Byr8T/ANi7VNI/Zl/bR1y/8W/CRylppusTsZ9R8LgkBSrN809qveI/Mg+4cDYf1q/4KXfsx+Ov2kPAtt+1t+zB8W9T8aeCtd0y0vdQ8N6Nq5ntrux
                    Vd8d1ZqhKONrFiuCctuGcEV9fgsyw2d5hD6w/Y12kvaqUraWjbl2TlG6u5cvkr6fQ4bGUMzxcPbP2dVpL2ib6abbJtaXvY5vxh/wVJ+MutftY3fjP9lDw9rnin4YeEtHEes6FFp+y2a1VsSXSbU3RdBsL84BG
                    ACRX2doviz4VftrfCex+MfwN8SRT3sKf6LKfklhkHLWtwvVTn14B5GQcn5U/4J7eE/2NPGnxh1PQf2UviJ8RtAe/+H6QeIdIdCIWnYFGlechgs8ZJI4VdzfISMrX1l+xf+w/8Lf2K/B95oXgS7u9Q1LVZFk1r
                    Wr5/wB7dspOwbR8qKoY4A9STnNPieGR0af1elSlTq01BRurSknfm59ErrdSV7367hncMspx9lCEoTgopXTTae/N0uujXc0/gb8U5tQRtC1qN4bu2kMVxBLw0bjgg/Q160jB1Dr0I4rxf9oHwhP4O162+MPhyI
                    pGZEi1yOMcEZASb69FJ+lejfDbxZD4o0CK5SUMdg718QfMnR0UUUAFFFFABRRQeBmgDz/49+NI/DPhmXbNtbyyetZn7LXgiXQ/BDeM9WhxqPiCQ3LluqQ5IiT8vm/4F7Vxfx8urnxx8Q9L+H1pI3/Ew1CKB8d
                    k3AufoFBP4V79ZWkFhZw2NrHsihiVI0HZQMAUAS1BqWm2GsWE2l6pZRXNtcxNFPbzIGSRGGCrA8EEHBBqesD4qfErwd8G/htrvxY+IOtR6dofhzSp9R1a+l6Q28MbSO3udqnA7nAo2DY/OX/guT/wU9+E3/BE
                    /wDZMtvgn+yl4b0fSPiV45S5XwrpllAu3SYCcTapKvcqzbYw2dz+qxsB/Ll4e+MPjey+MNt8aNd8R3uqa6NZXUb7UdQumlnu5jJvkeSRiWdmJOSTk5r0v/gpT+3J8Qf+Cif7Y/jH9p7x5cSoms6m8fh/THfK6
                    ZpkbFba2X/djxuP8Tlj3rhPC37MHx68Z+F4fGvhT4aahqGmTAtDc2mx94BwcANn8MV14dY2vifa0lKU1711dvTq+p0Ulia1bmgnKS16t6dT7Z/aD/Z3+Gv7WXwjX4n+A7G2i1uXTvtel39uqqbkY3eTLgfMeo
                    yeQa+XP2FvgbpHxT+PK6X4ysfMsdEhe6u7SReJXVgqxsPTcckd8Y710v7Hn7Vms/s6a1J8Jvi1Z3cGhTTkslzCyyabKerbSM7D3X8fWuY+EH7Sml/Az9onxD8SbHS5L3SNVkvVSGI7TIrOzRsCe24D8M195i8
                    dkWYYzBZhUioy5rVo26q3vNdf6ufT4nFZVi8Vh8XUVpXtUjbtbW3mdn/wU7vdM0n4yeHbXQvLgubDRFysIC+UBKxj6dOhxXuv7Nv7Q3w+/as+Fb/DTx21v/bZ082uq6fPj/S127RNHnqehIHINfEPirVvid+1
                    H8XbnWLTS59T1nWLj9zaWsediAAKo9FVQBk4HGa63x7+yL8a/gD4IT4seL9X0/SfIuI0t4IdQJufNY8BNgxuABJ54ANZYXO8wWb4rMcNh3LDzb51b3eW2muyfUzw+a4uOPr4uhT5qMviVtLbfJnKfFT4WeIvg
                    n4uucyMjWWv3NtYzp1JgdSr+2QymsDxj4g8d/EG6uPiB4y1K6v5biby5r24JO58Z2jtwMcDoMV73/wg3i39o39i1PiNpstxrPiHwz8SVs9bDNvleDULeJIJT3x5sGzJ7uKwP2//AAfpvwV+LFn+zJoKAQeBNG
                    trW/kVcfadSlhSe7n98u+0eixqO1fK4vDyjTlVp3VJtNK/V3t5Nqz1PLxWCnToyrQbVJ8rXm5X0+Vnc6T9i74c/sqw6EfiH8cfG+iTagZSLXRNRuQI4FH8ciH77E9B0Ax1zWp+2F+0N+y3qXhWXwH8G/hpoF/
                    fTLsbW7fRkgSzHfymCqzN7/dHvXz98Sfgr40+Gfhzwv4w16zP9meL9H/tDRb2MHZMgdo5Ez/eR1IYdsj1r2X9iv8AYitPjbpUnxK+JNzPBoEc5jtbWBtj3pX7xLdVQHjjknPTrX0GXY3McZhf7HwOGhGUl70m
                    vea7tvRev3HfhK+Nr0P7Ow9CMZNaya1tvdt3tp2Pmkhm52/lXoP7NfwD139ob4kW/grTHMFqqmbU74rkW8I6n3J6Adya+iv2pdI/YS+Dvha68K+Gvh/Y6l4keEpbQ2GqTsbZsYDyyCQ4x129T7Dmux/4JreE9
                    D8I/AfUfiTqDxQPqWoymW5dsCOCAY6nsDvNGXcKQfEEMFXqxnFJynyNuyW6baWvpcMJkMf7XjhqtSMktZcreiW6vZfqfFHxc8AT/Cr4la18PriXzX0nUJLcTf31U/K3HqMH8a/Vn/g2N/4Le61+yd8WrD9hj9
                    pjxdLN8L/Ft4IPC+oX85YeG9TkcBVBY4W2mY4YdEcqw4LZ/OPxr4K8e/tZ/tA+LPEHwm8Oy6jFLey3AkBCosK/KhLHgFgowOpJpP2TP2boPjn8WbvwH4p1ebS49KtJJ76ONQJ2KSKhjUN905bk9sV4E8pxGKz
                    H2OFheM5yUHsnZvr6HkzwdWti/Z0I6Sk1Hs9e5/bb4B+EXwp+Gk2pX3w38BaRo0ms3rXmpy6ZZpEbqZusjlRyTz+Z9a6UAAYFfHP/AARe/bC0j9ov9mpPhFrHjSTV/GPwutrPSPEL3twJLqW3aI/ZLiUgDLPH
                    GyljyzRMTk5NfY1cOOoYjC4ydGu7zi7PW+q036nNiqdajiJU6r95Oz1vt5lXXdGsPEWi3Wg6pAslveQNDMjDIKsCD/OvFfgdqd/4G8YX3w31iUmTT7sxKzn76dUb8Vwfxr3SvEvj9p7eFPi1ofjm2+SPUYfs1
                    yR0MkZypPvtYj6KK5DA9wVgwyDmlqh4avhqOi292GzujGav0AFFFFABUOoTCCylmJ4WMn9Kmqj4mcpoN0ynB8lufwoA8J+HkH/CTftNLezLuTTbGecH0dhsH6M1fQA5Ga8J/ZsVbn4zeJrtjkppsSqSc9ZD/h
                    Xu1ABX5yf8HMPxT1C3/Yf0/wDZP8K+Nk0PWfjLr/8AZZuGUs39m2sTXV3hQwJ3FYIj7Tmv0br+dL/g83+PvirQv2x/gx4G8K67PZy+F/B1zqsEkD4MVzc3OwsPqkCD3xXRhJ0KeJhKvHmgmrra67XNaDpRrRd
                    VXjfVeR+Sn7TH7IXjj9mh7O/1rU7fUtMv5Gjtr+1RlxIBko6t9045HJBrX/ZK/bI1/wDZ1vpPD2sWkup+HLyUPPZhvnt26GSLJwCR1XocVz3xd/a3+MHxz8I2vgz4gajZ3Nta3KzpJFZLG5dVK5JXjoT2FZHh
                    Twv8IPGUccGqfEGXwrd8K76lp8l1aMf72+AGRB7eW317V7U8bQwOb/WMmk4RVrc1r+ad3Zr1PUdenh8x9tlrcUtubT1Wp9RftTeL/wBl/wDah+Dt5438H+LtOt/E+jWpuLWG7xb3UqLy8DK2N/GSACeenWvG/
                    FPwSk8YfsR+Fv2gvB9kJU8Ma5e+HvFyQJ80HmS/arSd8fwsJ5I9x/55gU7w9/wT++KPxAAPwh+Jvw48V78COLT/AB3Z2szE9B5V60Lg+xFfVf8AwTo/Zp/aw/Zc+IGrfCH9qH9l/W734V/EmxGl+J5LZY761t
                    if9VdF7ZpBhWOCwOQDuH3a9Ss8ZxBjlUxNDk548rnFO3N0k9+tk32PZpYbF5zjk8TQcVOPK5xi3Hm3Um1db2T12Z4t/wAE8/G3wg+EXwu8XfFDxrqcEF7aXEcUhKhpjCR8qxr1JZuPwGa8f/au/am8QftH+Lk
                    b7O1loVgzDS9O35IB6yPzguR+Q4Fetf8ABS//AIJffEz9h/xhP4l8Ox3Gs/DzUrjOla4iZNsW5FvcAE7XHQN0ccjByB8m288trdpcKo3I2RuXIyPY9a4s0zPNcJgYZPVj7OMPit9t3vfzXoeZmdfM8DRWV148
                    ihuv5nfe/Veh9ef8Ej/2hm/Zt/aAjb4m+GLi4+H/AIwii03X5bqxZ7W3kWVXt7okjaPLkA5PQMxq7/wW9+BPi/4bftwa98SLzTJW0PxssOoaLqQXMU2IUSRAw4LKVGR6MD3q38Hv+Cj3hLTfANpofxe+Hl1D5
                    FuLdbvSrNTbXIUY/wBWcBT6gZH06V94/syP8BP+CuP7Ht18OfGWk3hsvB3iWG1028uIgtxbrGqSJtOTgGMtEefugegr6OhleX5jkkcBhsUp1H78YtcrTs7p+Wrs+59TluBwucZIsqo11KpfngmrNOz5ovys7r
                    s/U8H/AG5P2ZLPw3/wRL+FOt6zZBNY8JJZ3glKfMiX2WkTkZwd0ZI9VFfmYPih8SYdDi8KweO9Yj0y3UrFp8epSrCgJJICBtoySe1ftv8A8F6fEukeDv8Agn3N4Rhjjg/tPX7CzsLdRgBYiXwvsFSvyL/Y1/Z
                    1tP2iPia2k69cvFpGnQi51Pyjh5VyAIwe249+wrh4ly2rLP6WBwXxuEI726W18rLU5uMsvdLP6WDwmsvZwj62TWvyVzyIyXM7b3dnLcknJr0Cb9pb4kw/Baz+A2l3iWOiW7ytcC1BWW73yM5WRs/dBbGBgcc5
                    r3b4U/CjwZ8Av275fhVrlvb3mi6pYummpfxrKCJUDxq27PzAqU9/xrc/aE/YQ0nxx+0d4T8LfB/So9Nh8SmWTWoolxBp8EADz3Z7Iix5JHTIwOuK4KXD+bYXL6uIoztKMnSnFb6tdeqbaPApZPmVPDzq0pe8p
                    ckoq9+n3p3Ob/YU/aV+FfwL+GPiHT/iHdNZ3zXiXVokduWlvFKbQq49CO5xhs14j8Q/HPjrRviFdfGXwzqV3oFz4tuLu/thYXDQyJBLOwxlcHBwRnvg1654f/Zcs/jh8QvE/wAc9bLeE/gt4avPJm8UXce0SW
                    sAEUFrbKeZ7iREUALnBJLEV4l8cviTa/FP4i3evaHoyabo8SpZ6BpKnIsrGIbIIs/xMEALN1ZizHk1yY7MMxlltDDVGoxpX5LaN3fxenZ9egsbWxkcvpUqukYt8nRvvL06J9eh+hP/AAar/tj+J/gd/wAFWdL
                    8D69rl1caX8WtJn0LWBNKz+ZcqPPtZWJP3lkRlDHkCVgPvV/VvX8kv/BPXxR+zh+whr3gr4ueMvH+jr4r/tzT768eCYTzwKJkb7Oqx5Kjbwx4yT14r+tiMgoMVx5rlVTLYUZVKilKouZpO7j5PzZ5+NwLwcKb
                    lNNyV2k729R1eZ/tW6YJ/hnHrax5fTNUt5g3orN5Z/8AQx+VemVxn7Q0C3HwY19GAO2zDjPqrqw/UV45wFn4Mam+o+DLdnbJUY/Suurzz9nSaR/BaBznhcV6HQAUUUUAFUfEsZl0K6QDkwt0+lXqjvIhNayRH
                    +JCKAPC/wBnFvsnxp8TWbgDzdOjZR9JOf517pXgfgpm8LftNxW0zbI9Ts54B7sB5g/9ANe+cDpQAV/MF/weX2V5bf8ABSvwpdzq3kzfDK08gnodtxODj8a/p9r+e/8A4Pbvgnd2njr4I/tE21oTb3ul6n4eu5
                    lXhZYZEuYwx9WWWTHtGfSgD8n/ANl/wl+xJ4n02OL4yeK9UtNY4ElvqFx9nsm5/hdAT6feK19CXXwG/wCCcq6c0smteF0jVcmWLxeN3T/rtX57jPavsH9l79jL9nzxB4St/G3xR+JdhqtzPGrnTLTV0jitgRn
                    bIwO5m9egHvX6BwxjXi19Up4KjNpaynpp53vf5H1WS4n6x/s8MNTk+8tPv3v9x5X+0r4b/ZQ8KOF+APjfWL+88webEcSWqDPOJG2sT9N31rq/2M/FX7WnhvQdW+KHwq/aWuPBejeHzvuXvtVkNvNIF3eX5Byj
                    5GOo7ip/2wPCv7E3gTQZNF+Fcctx4kYYiGlam0tvAM9ZWbcD/uqc+4rxL4JfCzxn8bfHVp8NfCU7Ibty9xI7nyoY1GWkYD0H4k4Fedi6c8HxByRhFye0aMmld6JX333RyVva4XN7QS5n0pSaV3tqvxP19/4Jr
                    f8ABTfwx/wUG0nUv2U/2sfDmiXHiC60+QQnyFS116BQd48pjhZlA3YXggZAGK+L/wDgrD/wSr1f9jbxFJ8WfhZDdaj8O9Wu9sLtl5NHlbJEEzAYKHojnrjB565PxR+Cfw+/YK0Dw58X/BXizWbjx1Y6zBLo94
                    LoRJ5iENI3lqpPl7QVxnJ3cmv2RvdU+Hv7VH7Fy+KvHmhpeeH/ABh4BTUr2zkQcJLaibAz0ZTgg9iBX2Esrr5zhKmX5lb61SipKSd2k9lJ9WuvqnufouHwc+J8uqYDM2vrVFKUZ3u7PZSfXXR+Tuflj+xvoPw
                    9/ad/Zjtv2evCOgQap4gjs5be40lwvmi4YsRcgkZVMkEv/DjBr9Lf+Cd/7D3hn9hT4FR/Dex1Q6jq+pXC33iPUgx2TXWwLtjB6RqBtGeTjJ60z/gnz+xh8DP2T/grpFz8MPDoOq69pFtd6zrt2qvdXTSRq+ze
                    B8sYLfKg4HfJ5r0f41/F8fDOxsvD/h6yj1HxV4ima08L6MzEfaJguWkkI+5DGMM79gMDkgH6TK8vhhcJQxWLjH2lOCjddtPvf+Z9TkOR0spwlPGYxR9tGPLdbJdvOT0XqflX/wAHE/7S9p44+MPhr9m7w7fiW
                    38JWr3usrG+R9tuAAiHHdIhn2Mpr51/4JzeH/2idF+Jr6v8OPgH4r8UaTqNv9m1A6Po8jqgzlW8wgRjBx1YcE1+smh/8E8/2JP2dJNW/aM/abudP8VeIbm4e/17xd49dHgWdiWYxQN+7QZ4VcMwAABOK+fv2m
                    /+Dg74N/DSCbwH+x/8Motce3jMcGtanAbSwjYcAxwIA8i9xkpXyGNwH1LOP7WzDEqjO94xiuaVlsu22mzR8fmuUQw+bSzbNsWqMpO8YRXNO3RdtvJrzPK4f+COX7fP7Svxsb43fEO68PfD9GuopbNNS1I3Fza
                    wx4EarHArAsAOhZQTnmvtbxx8MvBv7JXwP1TUX+DPiP4w+KtZ0z7Fqkfh6wBa4iyCYdquTBATywXezc5zxj8fPj3/AMFPP21P2idRll8a/HPV7SycnZpOg3DWNqo9NkRG76sSa84s9e+PV5oE3juw8QeJ5NPt
                    p9k+pw385jik4OGYNwea8yHEuXYZ1lhKVScqjblKTT+fLZrr22PFo8T5Ll0qqwNCc5Tu3ObTfqoWcfv6Hpf7dX7U/wC0h8ePFkPhn4teDJ/BOg6GTHoHgCDS5LG00tBwMRMqlnx1cjPJxgcV5/8As7/AMfHzx
                    a3hp/HmkaEEUMW1K4xJNz92JON7e2RUh/at+Neo6T/wjPjnxhL4q0kLtGmeKc38cfvG0pLwn3jZT71wl/f2k+pvfaVbtZq771hWYkRt1wpPOB2zz7nrXyU8VSqY1V696ibu03Zvyuj42vi6dfG+3qt1LvVS0f
                    pddPQ+xrr/AIJOXM8MUfhL4uGTUXdRAt3p+2N3J45RiRz7Gv7HYCWjBPpX8Xn/AAS21v8AaG+NX7enwe/Z/wBF+JGv/Ytc8faZFe2X292VrNJ1lnGGJwPJR6/tEjUIgUDHtW+dYnJsTOm8BQdKyfMm737Wu2x
                    5jXy2u4vC0nDe93f0HVxn7Q1wtv8ABnXixxvtVjB92kRR+prs680/ao1ER/D230FT8+p6pDFt9VU+Yf1Va8Q80vfs72skHgxPM9B2r0GuX+EWmf2b4Nt0K4JGcV1FABRRRQAUdetFFAHgn7Q2n3XhLxbp/j6w
                    g+bTr6K447hWBYfQjIr3DTb+11XT4NTspA8NxEskTDurDIrmfjL4Ri8T+GJo/Ly4Q4rnf2Y/GEt54Ym+HuryH7boMpjj3dZLdiTGfw5X8BQB6fXwV/wcjfsVX37bH/BLPxnofhrSDd+IvAs0Xi7w9HGm52ktE
                    kE6KByS1tLOuPUg9hX3rTLm2t7y2ktLuBJIpUKSRyKCrKeCCD1BFAH8B7qUcqRgg8ilWRl6E/nX3p/wcJ/8EsdX/wCCan7buqf8IhoMkXw08f3NxrHgS6SP91bqzhp7DIGAYHcAL18tozz1r4JoDYXcx6sfzr
                    2P9jn9obw5+zl4r1jxXr2hT6hJdaUYbKGAgHzNwOCx6KR1PPSvG6fAjSSKik5JwOK7MDja+X4uGIou0o6rS/4HRhcRVwmIjWpO0lsfT/wa+HXx0/4KsftT2Xgy3c2llGPMvriKMm20awBG5j6segzyzEdun6/
                    /AAPg/sj9hDxV8GtNvZri4+H9hr/hNZZ8CRksjNFbs2O7QeQ341yf/BGP9ji0/Zg/ZR0/xZ4i0pI/FvjhF1PVndBvhtz/AMe8HqMJhiP7zkdq1tO8R2PwS/bw8Z/AjxtJ9m8OfG/SxrHhm6mOIv7Vjt1t7y1B
                    PAZ0VZB6nI7gV+uZPgK2Aw0cbi5N1a91Nt7cy91fevlc/beHcnqZRg6eMxLbq4jSbfRSXuLy1Wvm7HpHwP8Ajb4Q8NfsL+Dvjr4x1aO30my+HGn6hqNxuBC7LOMyKPVtwKgevFfMmtftu+FP2V/hdcft1ftL2
                    zX3xB+J9qx8AeCoZQJdN0UHfbwDP+rVgySyyYyzMo5wAPnf4xftLjwh/wAEzbL9lHxhqrWt74Z+MsnhDxVErESpplvcTXBwM5wyqqj1CkV8RftgftLeKf2pvjXqfxM164eO0JFroWlK58rTbCPCwQRr0UBAM4
                    6kk15WccVywtKnGl8cYRsn0m7ptrvG1ku7PKzzjN4ahSjRf7yMI2XabXvSf+G1ku7uaP7X37c37QX7aHjQ+KPi/wCLXezhkf8AsvQrMmOzsUJ6Inc4xl2yx7muR+A3wT8T/H/4iWvgPw3KkLTAvcXcwJSCJfv
                    Ocde2B3JFcSST1Ndp8GPjt49+A2tz+I/h9d28N1cW5gka4tVlGzIPAbpyK/PMPXpYnMY1cfKUot+91k15XPy2OJWKxyq42UpJv3nu2j079sT9knwf+zT4Z0GbSPGFzqOo6jPKtyJ0VAVVR8yKOQMnHJNerf8A
                    BLXxHour+DvFPw11RIJXadLlraYAiWJl2MCD1GQB+Ir5O+KHxg+IHxj18+JfiF4jn1C62bIy5ASJP7qKOFH0qz8DvjT4r+A/j+28f+EyjzwK6S28xPlzowwUbBGR0P1Ar3sHnWXYHiWOLw1Pkobcu75WrP1fW
                    x6GFzHCYXOliKUOWltbrZqzNz9r34daD8LP2g/EPg7wzGqWMU0c1tCpz5SyxrJs+gLkD2xXm0DBJlY44PetXx/441/4keMtQ8ceKLwz32pXBmuJO2T0AHYAAADsAKm+F/w08c/GT4h6N8Kvhp4cuNX1/wAQaj
                    FY6Tplom6S4nkYKigfU9egHJ4FfOY6tRr42pVox5YuTaXZX0PIxNSnUxM501ZNtr0vof0Of8G337O/wf8A2k/ixYftrab4WsLgeAtBSy07UEhAkg1GeHy2hYjGTHEHJBzjehHWv25Gcc18z/8ABI7/AIJ7+GP
                    +CaH7EHhT9m7TBBPrcduNQ8Y6nAoxe6rMoadgcAlEOI0zzsjX1r6ZrbNcyqZrjPrE4qLslZKy0Vr+r3Ncdi3jsR7VxS0SsvJW/EB1rxb403beMPjHpXg62JeLSYPOuMHgSydB9QgB/wCBV654k12x8MaDd+Id
                    TkCQWcDSyE9wB0HqT0A9TXlHwI0LUPE+u3fxB1uLE+oXTTsGOdoJ4X8BgfhXnHGeu6FZrYaVBaqMbIwKt0AADAFFABRRRQAUUUUAR3VvHdQPBIoIZcc14V4807VfhH8Qbf4jaHbs8cTFL+BBxNAx+ZfqPvD3A
                    r3iSRI1LOwAHrXDfFbWvCUmizRahcRs2zG0kUAdXoWt6Z4k0e213R7lZra6hWSGRT95SM1br5G+Gv7Y/gj4I+Pz4C8ca5Da+G7+42299NKAlhMx6sSQBG3c9ic+tfWtrd2t9bR3llcJNFKgeKWJwyupGQQRwQ
                    RzmgDwD/gpf/wTq+Cv/BTf9lzWP2b/AIwwC2ebN14b8QRW4kn0XUVUiO6jGRuAyQyZAdSVJGcj+O79uL9hz9oH/gnz+0Fq/wCzp+0T4Sk07V9NkLWl5GC1tqdqSRHdW7/xxOBweoOQQCCK/uU6181f8FM/+CW
                    X7MH/AAVI+CT/AAp+Pfhww6lZJI/hfxdp0ajUNFuGA+eNiPmjJC74j8rgdiAwAP4oK9b/AGHPhx4e+J37T/hHQvGlveSeHrfVY73xG9lYS3LRWMJ8yVikQLbcLgkA4DZ7V7D/AMFQv+CLH7Zn/BLTxzLZ/Frw
                    bLrngu5nI0P4haBaySabdISdqStjNtNjrHJjnO0uBmvV/wDg3I8I2Wp/tT+K/E91EDLpfhArAGXoZpkVuvsv616uSYT69m1Gh3kv8z2eHsCsyzvD4d7Skvw1/Q/XnQvEPhb4i+CbXxR8G/FmnXlssY/su8sph
                    LbOAMeUxU/dwACOq8dxivGf2t/hB4V/ba+Gc3wqfUn8I/EzwzcLq3heSZ9txYXsX3ZonGBNA/QsmQMjIDLgdL8Sf2LfC2r+Jbn4lfA3xvq/w08Vztvn1Hwu6i0vn9bqyYGGfPdsB++6vI/izfftz+FdOTSPj5
                    +zNoPxf0ixk8zT/E/wy1J9O1u2YdJUglIaOXHXyXwenTiv3LH1KvsJUsTSbi1ZuN3F/d70fJ2aXfqf0HmNWusPKli6LcGrPlTlB+el5QfbRpd+p+Q/7euvfE3UPjfqlr8ZvB1z4e8aho18aWZXbBf38KGMX8a
                    jA/ep8xIypLMVOGwPCMk8k1+i37dvxK+Fnx/0EeFfiVfa/o2t6ZGV0uT4w+B7nTNasP8Apj9vskkS6j7bZogT13g8n4A8V+GB4avDaR6zp98M8Tafc+YjD1yQD+Yr8PznD+xxspRlzJu99L/PXc/nzPcNGhj5
                    ShPni29dL/8Ab1uvd6XetlsZFFKI5CM7D+Ao8uQnAQ59MV5NmeMJRS+XIOsZ/Kux+BH7Pfxq/ac+JOnfCD4B/DTWPFfiTVJhHZ6Vo1i80jerNtGEQDJZ2IVQCSQBSA5KzsrrULqOysraSaaZwkUUSFmdicBQB
                    ySSQMCv6Wf+DZb/AIIKX/7I+g2n7eX7XfhMRfEbXdNB8G+Gr6Ib/DdlKoJnlXPy3cqEDBGYkJU4ZmA3v+CGf/Bsl4B/YjudK/ai/bVi03xX8U441m0jw7HifS/DTnBD/MoFxdLx+8+4hzs3cOf14ACjCjA9qA
                    CiivCv2r/21vh58CLiL4a6X4lsZ/GWpRZh01LlGksoWyBPKmcrnnaCPmIPYGgDX+MniOf4geLLf4YaBJvtLSVJNXkQ8NIDlYvw4J9yB2NeleC/DsHh3R4rSNMEIOgrxH9m7xt4RuLFL+7u1a5mbdLK75ZmPUk
                    nrzXvun6rYahGGtLhWBHGDQBZooooAKKKKAPjrU/+CqnwNsLkwn43eEW9CviK1I/9Dqv/AMPYvgZ/0Wrwn/4UFt/8XX4yfGz9k/V/2PviHH8Kfjh4C0i4sruUp4Z8Ypo0aW+pqOkUvy4iuAMZU8N1FZ3/AArr
                    4f8A/Qi6P/4LIv8A4mv0PKOAv7awixGFxcWuq5XdPs1fRn12A4WWY4dVaOITXbld166n7KeLP+CsXwUksXW2+M3hhm2E7Ytet2J/ANXkngrxB/wUF/4KRg6z+zTpVh8PvhrdSMtv8UvGMLTTamgODJp+ngq0i
                    ZziWUqjds1+Yc3wy+HFynlXXgPSWjJG9U0+NSRnkZC8V/QZ+xP+1d8Cf2jvhJox+FGu2Ftc2OmwwXnhkSJHcacUQLsMWc7Bj5WGQR3ry+I+Dcw4dhCpJ+0g95RTtF9E99+j2OLOOHsVlMIzb5ovdpPT13PB/A
                    H/AAQX/Zanuo/EP7VfxB8a/GfWM77hvFetyW2nl/8ApnZWhREX0Ul/Qk19oeCvBXhP4ceEdN8BeBPD9rpWjaPZx2mmabZR7IraBF2pGi9gAMVqZB6EUZHrXyB88FFFFAGR468B+DPib4UvfA3xC8KabrejalA
                    0GoaXq1klxb3MTDDI8bgqwPoRXxf8Yf8AgjF8Ovh5pWoeLf8Agm94X+Hnwv8AFVzDtmtb/wAImSwvlzkRM9vJHLCM85G8D+73r7norqwmNxeAq+0w83GXdHZgsfjMure2w03GXdH89f7XPin/AIOKP2O7u7uv
                    GH7CfhfxPoVsSY/EvgO0uNWtpU/vFIZzPF9JI1P1HNfGOs/8HEH7cPh7U5tE8QfB3wbY3lu5S5tLzSbuKWJh1VkaYFT7EV/XERkYNcT8Vv2bP2ePjra/Y/jV8C/CHi2PbhR4j8OW14UH+yZUYr+GK9X/AFp4h
                    /6CJfh/kez/AK4cTf8AQVL8P8j+TvW/+Dg/9p/xZbf2f4o+CPw11GAj/U32jTSp+TSkVk6H/wAFGvid8R7aXUrD/gn58DZ7Un/Sb+98IJFCCfWR5VXP41/S94p/4IV/8Eh/GN019rX7AXw9EzNlpLPSjbk/9+
                    mUVPdf8EQv+CUmoQQWmqfsS+Dry3tohHbWt3DLJFEo/uo0hUfUDNC4izKo716spf8AgOvq2n+Rl/rNnFWTdas5fKP6o/mjHx88aeL7ae60b/gnp+zdqzQrmeLStJieRR9EuAfyq78CPgx+1N+2N4hHhP4I/wD
                    BGDwrqzzXAgm1Gx8NarZ2kBJwS1y13HEgGcklhiv6mPg//wAE9f2GPgBcC9+DP7JHw+8O3IAC3eneFrZZgB6SFC4/OvX4oIYFCQRKijoqjArCtm9WpFcq1635Wv8A0lfM562c4qrFfqov/wBtR+Hf7Ov/AAaU
                    eDvH01j4h/ao0bQPBloTv1Hw94Qv7y6u34HyLcPctFDg55xNnp71+rH7FX/BOj9jr/gn14DHgP8AZZ+Cml+HVkQDUdWCGbUNQPXdPcvmSTnkKTtX+EAV7fRXnYjETxNTnkkvJJJfgefiMRPET5pJL0SX5BRRR
                    WBzhXz/APtLf8Euf2Ff2s/EE/jf4x/ALTJ/E1woD+K9JmlsNTyowpNxbsjOVAAAfcBjpX0BRQB+eni7/gkv+1Z+zwG8SfsMftg6jrVrb/OngD4sj7ZDMB/yzh1GLbNDxwA6uB1yOlY/wu/4KeeIfhp4mvPhD+
                    1d4cf4YeOtFVG1Lw/4j1GMRSxNkJcWtxkR3MLFWAdD1BBAr9HNR1Gx0uyl1DULuOCCFC8s0rhVRR1JJ4Ar8ev+C5Px4/Zu/af+JXhLwh4GtNN8S3XgxLsX3iBIkmgYzbB9njfBEgUpuJHGTwTzXsZJkmMz3HR
                    w9BesraRXdno5ZluIzPEqlTXq+i82fYEP/BWL4GbBn41+Eycc/wDFQW3/AMXUsH/BV34GzSBP+F1+Ehk4JPiK2H/s9fifJ8Pvh1DGZZfBOioijLM2nRAAepO2tH4K/sw+Lv2sfER8K/s4/BTSLu1Sby7/AMY6
                    lpKJpVnjghWC5uHH9yPj1Ir6vNeA6eTYf22LxsIrouV3for3f5eZ7uO4Xhl1L2lfERS9Hd+ivqftp/w8++Bf/RdfBv8A4Utp/wDF0V+bP/EPh8Vv+i56L/4b61/xor4n2GA/5/S/8AX/AMmfOezwf/Px/wDgP
                    /BP1J/bH/Yo+Gv7RHw91HwT488KW2padewlXiliGUb+GRG6o6nkMMEGvxO/aT/Z5+I37EHxAHgf4g302reEby48vw54vmGWjJOBbXhHCyDtJwrD0ORX9CHxV8f6T4b0eZbmZfuHqa/F3/gq1+1ro3xa8Q6j+y
                    /8J1tNQubqMx+LtXkiWWDSYG6xgEFWuGHQfwZDHBAr1OGcxzfAZpD+z05Slo49JLs1+vTc7MlxmYYTHR+qXbe8ejXn/mfOvBGQc56YrQ8M+K/FHgrWYfEXg7xJfaVf27boL3Tbt4Joz6q6EEfgaw9B0Wz8OaN
                    baFp7StDaQrFGZpS7EAY5J5Jq5X9Npe0pJVEtVqt16eZ+0W56a5lutV+h9ufscf8ABTf/AIKLeI/FsHwx8GW9j8RrhLOWf7Hr8KrMIIk3OxuFeMjAGMuTkkDkmvc/h/8A8F+vhxJP9g+L/wADdY0qaNilxLol
                    7HdoGBwcK/ln9a+d/wBh2y0XwH+zZrt54B8TWFz8T/izrcPg7QLC2uFe60uxkObi5dAcopAJyQMlU7V0H7WH7L/7IHh/4PfEvxz4I8HX2hzeAdWsfDOi63BrTyxa9qyoBdgwSAgbWDbirdVY4GOfy7H5bwvis
                    4nh6+F5U5KMZU1yu90m2rpWcpJK0X8Mnsj4nF4XJa+PlSqULapJx010Te9rXdlp0bPtjwR/wWD/AGCPGoRG+L0ukSt1i1vSLiDb9XCFPyY16r4W/bC/ZZ8aKp8M/tA+EbouQEQa9Ajt9FdgT+VfkL8Mv2WP2f
                    8AwD+zRo37Sf7WmveI/K8Zau1j4R0DwuYkneNDiW6dpeCi+nHbkluOE/aC/ZP8R/Df4neJtF+EcWo+NPCehyq0finSrBp7cRMgcCSSIMgZQcHntnivOfA/DmKxMqOHxE4WbV5JOLcWk0pWjqm7ebva9jjfDOU
                    V6zhSqyja6u0uVtNJpN21TdvyvY/fDT/Enh/VrdbvS9btLmNxlZILlXB/EGrS3ETDKtn3FfzW6dquq6RN9p0nUrm1k/v28zRt+YIrqtH/AGh/j34fIOi/GnxVbbfuiHX7gAfQb8CnU8Kq+9PFprzh/lJhPgaf
                    2K6+cf8AJn9FQdSMg0bhjNfz86d+3L+2JpIC6f8AtLeMowOg/t2U/wAzW5pn/BSn9uzSGD2n7TPiNsdBcyRzD8pEauOfhZm6+CvTfrzL9Gc8uB8wjtVi/v8A8j96WkRRkmk8+PrX4f6b/wAFgf8AgoNp6hJfj
                    jFdqBgC68Macf1WAE1Yuf8Agsh/wUBnjKRfF2xhP96LwvYZH/fUJrlfhhxCv+XlL/wKX/yBh/qXm1/ih97/AMj9uldWG4Hg9KNw9a/CTV/+Cpn7fmtyb7z9pDVULcbbPT7O3H5RQrWZcft3/t56uxRv2hvG7Z
                    kWIiG+dBvb7q/KByew79q1j4X5x9uvTXzl/wDIo0XBWPS96rBff/kfvaZVU4NMlvrWEZlmVR6swFfgB8Rf2h/20/DHiG58I/E/4vePtN1S3C/a9O1PVrmCaPcoZdyFgRlSCPYiu8+EP7PPxC+OXwmT42/HL9q
                    9/CHhi/14aLo97r895fNfXuM7AiN8kY6GRjgYPpRW8OnhMOq+IxkVF2S5YSldvokndv0Cpwj9XpqpWxEUntaLd/S2/wAj9pvEvxe+FXg0FvF3xJ0HSwo+ZtQ1iCED/vtxXnHib/goj+xd4VnNpfftA6FczjOL
                    fS5mvJGx1wsAYn8K/NCH/gmH4X1r4ZWup2vx60PTNY0rxpNoHi7VL6++0acXkKmxe2MKlj5okjGGPDMcldpFdb8Dv2bPBX7EGiax+0Z8R/HHiJtf8GeL28K+I9M0FYkigS4kjVbrzGUsYHtmZugbMiYwRXP/A
                    Kr8PQpvlxU6k78qiocvM72Wr5tHpr0ur2ujNZHlSg2q0pyvZRUbXe2+un+a7o+pfFn/AAW7/Y0sNRi0jwU3iTxBPNOkSTWuitDApZguWaUq+Mn+FGPoDXG/8FA/+CnP7Vf7KfilfCOi/AnQtOstQ3/2P4j1LU
                    WuxeKqoWZIkMZTaXAy+QSDxwa5Twf8OPht8FvE3jT9mO28LXWl6VLrA1e28XaXr2kRS3mi36kRiX+0svJHbqX+aMlvl3fePPz3+1X8df2Y/i78OJfh5428beJfEPjH4eXd7png3xlZQRyR6/YM4aH7U7sDhGy
                    NwyTywzuxXpZVkOSVczpeyw8qlJW5uZubakvdlaPKlZ6NO7s7taO3ZgMry6pi4OnRcodbvmdmtHpZLXdNN21seRfHX9uL9qT9o1nt/ij8XtUuLBz/AMgiyl+zWY+sMW1W+rZNeQaldy2GnT3sFm9y8ULOkEZA
                    aQgZ2jPGT0qf6UV+x0MHhsJR9lh4KC6cqSS+Wx+g0qFHD0/Z0oqK8kes/wDBPT9iDR/21LXTPi38a/E6Xfhu5nY2ngzSpmWEsjlSt6/DSuGU5jG1QR/FX7U/Ab9mf4ffDPwpYaP4Y8O2Wn2FpAEtbOytUijiQ
                    cBVVQAo9hX4efsKftIy/seftHw2+sXnk+BvHN+kd6zn93pWqkBY5/8AZjlwEbsG2mv3g+B/xJs/F3h+AJcKxaMbSDX8z8T0s0w+c1KePm5zXV9V0aXRPstFt0PxvO6eOpZjOGKk5S6N9V0sdd/wimk/8+kf5D
                    /CitOivAPIPx5/4Kq/8FIPFWn+I5/2bvgXq8beK7mD/idaqDvj8P27fxvzjz2B+RD0+8cDGfz6sNd+HHw2tP7Fk8URSXcspluN9x595dzMfmkcLl3dj3Ir9PfAv/Buz8DNE1G41P4keNPGvj2/1G9a61S613W
                    3gju53OWkdLcoWJP95j6V9SfBD/glz+zz8Foo18CfCjw/orJz5lhpcaSH3L43E+5OTX2GQ8TYbhyg5YbDqVaW85PRLtFLW3fW7PocszujlFNulS5qj3k3t5Jdj8WfA3wr/aT+LbIvwp/Zp8W30Up/d6hrFkNM
                    tSP72+5KsR7hTXt/w8/4JE/trePUjufHnjnw14StpOWt9DspdRulHp5kojjB+ike5r9qfD/wG8E6GEK6ejleny11Fl4W0GwQR2+mxADp8opY3jriXHae25F2glH8d/xFieJ85xGntOVdoq3/AAfxPxJ8b/8AB
                    Hn9qb4VCLxX8A/jhPqd/bYkNp4th8hvMHJaG5tEVoTnplGx6968P+MvxF/av+GvgW1+DH7TvgjxVonh7TNYl1CCaW2+2aY15ICHm+1wg5ZssQZMH5jjvX9E194Y0TUIjFcWEeD6IK4fxp+zd4L8VW0kMmnwkS
                    gh0eMEHPb3rHL+Mc7wE4uU1VSd0qi5rejfvL5MjCcRZnhZJuXOk72kr29HuvvPx6+G37d37M3j/wCCXgfwR8fPg5ceNZfhtDdxeF20XxCkVjeRzlSY7yPaScFE5Qg8c1778CP2zP2b/CHwx+H3iiP4i2fhrT/
                    A+i63Prvw3sYrhZ9X1a5P7hUGCksIUsA0j5Gee5Hpn7QH/BDz9l34nXc2uW/wxg0bVXJP9reGJX0+4z6kwlVc/wC8rV8ofFH/AIIffHzwTJJc/CD4+vfQrkppnjLRFlz7faYGRv8AvpGPvXvQ4m4fzCPJjKdS
                    ldtvllzx97m5rRltfmb0V03oz1aec5TiocleE4at6PmWt76Pa93tquh73baR+zB8Y9N+DLeNLbQLjXvih4Y07w1LaJBATpNrBPcTXUy5B8q4kDx28b/eXPHIGIrz9jf9kn4qfFnwt4Wf4V3ug283izWIJYLDR
                    r/S1utItLOQ/O9w7+ZMs8a5ljKqyuPl618L+Lf2Pf29vhVfC51H9ng6wls4ddR8H+IIZGUjkMsU3lSA8ZG3cax7z9q39pH4beLo/F/jnWfiX4d1m0sZbKK/8QaXeloreQbXiEhR0VSOozXt4aeV1Y3wGact1L
                    STcLN83Lv/ACppfK63dvSpSwVXXDY22j0bcbN3t+a+4+rfE/7C3wE8baZ8JfEfwq0bxrYw+Nr3WhrdhBNFqNxFZWU0qLcpvESoG2KSzMFUOOpHN+T/AIJb/CfUfHHh62074na7Y6Hrvw+1TxHKJvsd7c2ps3R
                    dokgYRSowfPykYxjPp8s/Cz/gpr8SPBN5oU3hL466Pcw+HNJutK0vTr+G2eFLS4IM0LoVBcMygncSQR1rtdP/AOClPx6u7+x1PTta8NyHTvB154YsorXSokii0+5ZWkVUjIUMNihSAMAYxXt/VuJp+7hsXCUb
                    Ss+dSerm47xeycdfJ2ff0vZ5vLSlXi1rb3k93K26ey5T6U/Z8/YW/Za8N+OLLV/Emtaz4l0Lxh8GL3xJottq+iQCa02geZKVWUqJEBUxgEgkkEjAJ8t/Yy+Ffwc/aJ8G/FX9nbQvDUF5riTw6z4C13ULBI9Rk
                    tIbgLNCxUttJiKOUUkZL8kCuB8Lf8FAPjz4R1/wfrumRaK//CF+D28M2FpPpu+G505gAyTqW+cnAyRjpXGfDX9pD4gfB346D4//AAyg03RtXS6nmhs7SyC2cSygholizgR4YgLngYrsjkvEFSlXdSteclFwfN
                    opQlJxukluuVNrfU1jgM3lGq5zvJpcrurJxbavZLdWvY/Qz9oPwf8AC3wZo3xQ/at+DXhbStM0+PwdN4XmtbKyiRLPVrbVYYWdEVQqloiCDjJ2NnrWj8VdH8LNoHxw8AaH8NH8W6re+G9F8daIl9O7y3weFI8
                    qluq4eJkdl2D5jtBHHP5ya5+1n8adQ8CeKfhtqfjVItC8ZeIpNc12wMEapNeOwZmUkbkGQPlBA4FYmt/twfEy38SWXjPUf2jbqy1XS9Di0ez1C11lbaWGwjzst8xFTsG48HPWvIXCeLpQi61eKcXo3JrRezcU
                    3o9HFp67O5xf2HiKVvaVVdbXb2XK1f8A8Ba9D9J/jFB4E+PNteeHfGPgXwzHN8QfgKuuaXr19pcUeoxa5ZqI33XL/OoAEAEeR0b1NfJ37Pvxw+B3jz9kPW/2Mf2hfF8/hZIvEKa74R8Uppr3UdrcYCywypH82
                    GXfjHGXOT0B+UJvjhafEC5VLHXtb8UzqzLEmm2N3qBBY5IBjRguScnkDNdd4R+A37XfxIdB4B/ZR8USQyH5bzX5INLix64nfzCPoh+lVRXDuUYV0a+PjdOMo8rTcZQ2a+LdWTTVnZ9yoLKMBQ9nWxS0cWuV3c
                    XHqt91ZPTWx9JeJf2u/wBnH4XeHfHHwG+BPgXUNQ8H6/4ZsLa21VpWt5ZNbtn3/wBqBJCxUFtuF4PyDpXC/Gj/AIKCfGT4sw+Jbe7tNH0mx8X6Tp9l4mtre23rdtaLhLjMpPlyHPLLjhVHar3w6/4JDftqfEe
                    RH8b+O/Dfg63b70Oj2MmqXP03yGKMfXB+hr6U+Dn/AAQB+CdvJDqXxgute8c3CsCR4i1BhbZ/694dkZHsQR7V5GI4s4RwDvh6E69TT3pOyb93W76+7F6R6aHnVc/yLDS5qNOVSXd9Xprr10T26H5y6z8afEfx
                    Y1200Cx1LxH491axs47Oy0/SI5tTlt4EG1Il25WJF9CVUe1ex/CT/gmn+3B8btl5rOj6b8PNJkPzHUD9u1Nl/wBmKP8AdRn/AHnY/wCzX7FfBr9hb4R/CLSYtF8I+C9K0i0jAxa6bYJCgx7KBXrui/D/AMNaH
                    EIrXT4+Oh2181mHiBnuLh7Kg1Rh2gtfvf6WPGxfFWZ148lFqnH+7v8Af/kfi/4p/wCCI3x38PWX2v4Y/tCXl1KI8ta+LtFjnjd+/wA9v5bICe2Dj3rxfx/+xL+3Z8JmdvEnwMs/EltH9688G6sJGI9fIuRG+f
                    YE/U1/QzLo2lTJsksIiP8AcFYusfCnwdrKMJ9MQFu4FebguMeI8DL3MRJrtL3l+N2ceG4hzfC/DVbXnr+Z/M7471TRYbO58F/FrwvrnhhrmMxyW/ibRprIg9dyu67Dg4IYMRx1r9JP+CHP7Z+pfFPw5c/ATxb
                    4tgv/ABR4LhjT7UtwH/tXTSdsF2pBO4gYR/Rhk/er9APG/wCx58O/GNo9jqWiWV3BJ9+3u7ZZEb2IbIrkvhB/wTT/AGY/gd8UpPjL8NPgn4b0TxLLZSWc2r6VYLA7wOyM6EJhTkouTjPGM44oz7iavxDRh9ap
                    RVSG043V12af3hmmdVM2hH20Fzx+0tNO1tT2f+3NT9RRVv8A4RaX0X86K+ZPFN3A9BRRRQAUUUUAFFFFACFVPVR+VV7rSdOvFKXNnG4PqooooAw9W+E/gzVwTPpagnuBXKa5+y34F1YN/oseGHKsnFFFAHm3j
                    z/gmh8A/Hm+TxT8MfDOqF+p1HRoJj+boa8o8Tf8EOf2NNcd2u/2evCmWbOYbMRflsxiiimm1sNNrY5i5/4IF/sXvJ8vwZsofa21W5jH/jslMj/4IEfsZqwB+EcLj0k1u7b+ctFFV7Wpb4n94+efc19E/wCCEH
                    7FWnSiSP8AZ/8AD0jj+K53y5/77Y16V4I/4JJfsv8Ag2RZNC+B/g6zkQgrNDoNvvH/AALYT+tFFS23uJtvc9Z8N/sffD7w9EkVtp9vEqDASCEKAPTgCuv0f4J+B9JIEemKdvTIFFFIR0dj4a0TTlC2mnRLjoQ
                    tXVREGFUDHtRRQAtFFFABRRRQAUUUUAFFFFAH/9k=" alt="Embedded Image">
                </div>

                <div class="school-info">
                    <b>EDEN PLACE</b>
                    <p>Crèche, Pre-school, Nursery & Primary School</p>
                    <p>9, Olayinka Bolarinwa street. Orimerunmu, Ogun state.</p>
                    <small>TEL: 08037383740, 08023974231.</small>
                </div>
            </div>

            <div class="header-info">
                <b>REPORT SHEET</b>

                <div class="term-details">
                    <div class="term-detail">
                        <p>TERM: <b>FIRST TERM</b></p>
                        <p>AVERAGE AGE: <b>8 YEARS</b></p>
                        <p>NAME: <b>OKELOLA ESTHER</b></p>
                    </div>

                    <div class="term-detail">
                        <p>ENDING: <b>15TH DECEMBER 2023</b></p>
                        <p>NO. OF DAYS SCHOOL OPEN: <b>122</b></p>
                        <p>NO. IN CLASS: <b>12</b></p>
                    </div>

                    <div class="term-detail">
                        <p>CLASS: <b>GRADE 3</b></p>
                        <p>NO. OF DAYS PRESENT: <b>120</b></p>
                        <p>NO. OF DAYS ABSENT: <b>2</b></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="report-body">
            <!-- Tables -->
            <section class="report-tables">
                <div class="main-tables">
                    <!-- Subjects Scores Table -->
                    <table class="subjects-scores-table">
                        <thead>
                            <tr>
                                <th>Subjects</th>
                                <th>Mid Term Score (40)</th>
                                <th>Exam Score (60)</th>
                                <th>Total Score (60)</th>
                                <th>Grade</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>Literacy</td>
                                <td>38</td>
                                <td>40</td>
                                <td>70</td>
                                <td>B</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Behaviourals Table -->
                    <table class="behaviourals-table">
                        <thead>
                            <tr>
                                <th>Effective Traits (Behaviour)</th>
                                <th>Grade</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Punctuality</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td>Class Attendance</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td>Neatness</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td>Relationship with Others</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td>Sense of Responsibility</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td>Obedience</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td>Attentiveness</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td>Reliability</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td>Self-Control</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td>Spirit of Cooperation</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td>Honesty</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td>Handling of Tools</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td>Handwriting</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td>Games</td>
                                <td>A</td>
                            </tr>

                            <div class="grade-keys">
                                <tr>
                                    <td><b>A - Excellent level of observed trait</b></td>
                                </tr>
                                <tr>
                                    <td><b>B - High level of observed trait</b></td>
                                </tr>
                                <tr>
                                    <td><b>C - Acceptable level of observed trait</b></td>
                                </tr>
                                <tr>
                                    <td><b>E - Unnoticed level of observed trait</b></td>
                                </tr>
                            </div>
                        </tbody>
                    </table>
                </div>

                <!-- Aggregates Table -->
                <table class="aggregates-table">
                    <thead>
                        <tr>
                            <th>Aggregates</th>
                            <td>Mid Term Total (40)</td>
                            <td>Exam Total (60)</td>
                            <td>Sum Total (60)</td>
                            <td>Mid Term %</td>
                            <td>Sum Total %</td>

                            <td>Mid Term Total (40)</td>
                            <td>Exam Total (60)</td>
                            <td>Sum Total (60)</td>
                            <td>Mid Term %</td>
                            <td>Sum Total %</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th>Values</th>
                            <td>38</td>
                            <td>40</td>
                            <td>70</td>
                            <td>12</td>
                            <td>345</td>

                            <td>38</td>
                            <td>40</td>
                            <td>70</td>
                            <td>12</td>
                            <td>345</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section class="report-summary">
                <div class="overalls">
                    <p><b>Percentage Obtained: </b> 76.8%</p>
                    <p><b>Overall Grade: </b> B</p>
                </div>
                <div class="comments">
                    <p><b>Teacher's Comment - </b> Ara-ire is an inteligent and enthusiatic learner</p>
                    <p><b>Coordinator's Comment - </b> Not given</p>
                </div>
            </section>
        </section>

        <section class="report-footer">
            <small>Next Term Begins: </small>
            <small>Coordinator's Signature: _________________________</small>
        </section>
    </main>

</body>

</html>
